<div class="w3-container w3-border" >
  <h3> Table Filter : 
  <h5> <input type="checkbox" name="Herald" > Herald Pick/Win
  <h5> <input type="checkbox" name="Guardian" > Guardian Pick/Win
  <h5> <input type="checkbox" name="Crusader" > Crusader Pick/Win
  <h5> <input type="checkbox" name="Archon" > Archon Pick/Win
  <h5> <input type="checkbox" name="Legend" > Legend Pick/Win
  <h5> <input type="checkbox" name="Ancient" > Ancient Pick/Win
  <h5> <input type="checkbox" name="Divine" > Divine Pick/Win
  <h5> <input type="checkbox" name="Immortal" > Immortal Pick/Win<br>
  <center-wrap> <filter-button title="Apply Filter" onclick="filter_table()" type="button">Apply</filter-button>
</div><br>