<body>
<% page_header 'Welcome to Dota Analyzer' %>
<p>
Dota Analyzer allows you to view the win rates data of each hero in the last 30 
days, this data is collected from a large number of public games by
<a href="https://docs.opendota.com/" style="color:#0588A1">opendota</a>. You can also view 
your own win rates data for each hero in the last 30 days, Your data comes from the 
<a href="https://dev.dota2.com/forumdisplay.php?f=411" style="color:#0588A1">steam dota api</a>.
Lastly you will be able to view your win rates data vs heroes win rates in a sortable table.
</p>
</body>