/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

nav {
    img {
      max-width: 48px;
    }
}

filter-font {
  font-size:18px;
}

td{
  white-space: nowrap;
  overflow:hidden;
}

th{
  white-space: nowrap;
  overflow:hidden;
}

center-wrap {
  text-align: center;
  margin:auto;
  display:block;
}

filter-button {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
